.notification {
    color: white;
    text-decoration: none;
    padding: 0px 0.5rem;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.notification:hover {
    background: red;
}

.notification .badge {
    position: absolute;
    top: -5px;
    right: -3px;
    padding: 0;
    border-radius: 50%;
    background: red;
    color: white;
    height: 70%;
    width: 25%;
    font-size: 12px;
    text-align: center;
}


/* .dropItem {
    display: flex;
    position: center;
    margin: 0;
} */

.compItem {
    display: flex;
    margin: 0;
}

.compItem button {
    display: block;
}

.nav-link {
    display: block;
    padding: 0.9rem 0.5rem;
}

.dropdown-toggle {
    white-space: nowrap;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: yellow;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: wheat;
    border: 0;
    align-content: space-between
}

.dropButton {
    border: none;
    align-content: space-between;
    background: transparent;
    color: blue;
}

.messagecount {
    display: flex;
    font-size-adjust: inherit;
    background: red;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    align-content: inherit;
    padding: 0;
}

.navClass .countMessage {
    border-radius: 50%;
    display: flex;
    position: fixed;
    top: 0;
    padding: 0 5rem;
    color: aliceblue;
    background: red;
    width: 10rem;
}