.side-section {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 400px;
    z-index: 200;
}

.side-section ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-section a {
    color: blueviolet;
    text-decoration-color: none;
    font-size: 1.2rem;
}

.side-section li {
    margin: 0.5rem 0;
}